doctype transitional
html
  head
    title Machine Learning and Computational Biology Group
    meta(charset="UTF-8")
    link(rel='stylesheet', href='./stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='./stylesheets/mystyle.css')
    link(rel='shortcut icon', href='./img/favicon.png')
    script(src='./js/jquery.min.js')
    script(src='./js/bootstrap.min.js')
  body
    block content
